@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

html ,body{

    margin:0;
    padding:0;
    text-align: center;
}

:root{
    --primary-color: #fe3072;
    --sec-color:#ff5940;
    --back-ground-prime-color:#fff;
    --back-ground-sec-color:#5e5e5e;
    --border-color:#7e7e7e;
   
}


* {
    font-family: 'Readex Pro', sans-serif;
}


.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(45deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

