input{
    
    margin: 10px 0;
    font-size: 20px;
    border-radius: 10px;
    border: solid 1px var(--border-color);
    padding: 10px 5px;
    -moz-appearance: textfield; /* Firefox */
    
}

.chat-input{

    padding: 20px;
    display: flex;
    flex-direction: column;
}