.dashboard{
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

.dashboard .swipe-container{
  display: flex;
  flex-direction:column;
  justify-content:top;
  width: 80vw;
  max-width: 288px;
  max-height:468px;
  height: 130vw;
  padding: 20px

}

.dashboard .card-container{
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 80vw;
  max-width: 400px;
  max-height:650px;
}
.dashboard .card-container .card-info{
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  height: 25%;
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 20%,
    rgba(0, 0, 0, 0.9) 33%,
    rgba(0, 0, 0, 0.95) 60%
  );
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}


.swipe {
    position: absolute;
  }
  
  
.card {
  background-color: var(--cor-primaria);
  width: 80vw;
  max-width: 288px;
  max-height:468px;
  height: 130vw;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

  .info {
    color: var(--back-ground-prime-color);
    padding:20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Make sure it spans the full width */
    
  }

  .card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center vertically within the container */
    width: 100%; /* Make sure it spans the full width */
    
  }
  

.name, .country, .info-icon {
    flex: 0 0 33.33%;
    text-align: center; /* Optional: Center the content horizontally */
  }
  .country{
    font-size: 1.1em;
    font-weight: bolder;
  }
span .card-button{
  transform: scale(1);
}
.card-button{
  padding:0 20px;
  background:none;
  border:none;
  cursor:pointer;
  transform: scale(1.5);
}

